apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: kitamoto-otomatik
  name: kitamoto-otomatik-user-service
  labels:
    app: kitamoto-otomatik-user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kitamoto-otomatik-user-service
  template:
    metadata:
      labels:
        app: kitamoto-otomatik-user-service
    spec:
      containers:
        - name: kitamoto-otomatik-user-service
          image: nikkinicholasromero/kitamoto-otomatik-user-service:latest
          ports:
            - containerPort: 8080
